<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'homepage/featuredproducts/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/featuredproducts/assets/css/featured-products-slider-1.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/featuredproducts/assets/css/featured-products-slider.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/featuredproducts/assets/css/styles.css' %}">
</head>

<body>
    <section>
        <div id="w_shop_105" class="carousel slide w_shop_105_indicators w_shop_105_control_button thumb_scroll_x swipe_x ps_easeOutInCubic" data-ride="carousel" data-pause="hover" data-interval="8000" data-duration="2000">
            <div class="w_shop_105_main_header">
                <h1><span><strong>featured</strong></span><span><strong>products</strong></span></h1>
            </div>
            <ol class="carousel-indicators">
                <li class="active" data-target="#w_shop_105" data-slide-to="0" style="filter: blur(0px);"></li>
                <li data-target="#w_shop_105" data-slide-to="1"></li>
                <li data-target="#w_shop_105" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"><img src="https://www.darjuv9.com/img/product/berrytea/product1.png" alt="w_shop_105_01">
                    <div class="w_shop_105_left_box"><span data-animation="animated fadeInLeft" style="font-family: roboto;">Rs.90</span>
                        <h1 class="left-h" data-animation="animated fadeInLeft">Advance Quicky Shot: SKU: A1355</h1>
                        <p data-animation="animated fadeInLeft">For decades, Indians depended on capsules and powers to obtain the concentrated ingredients that we know to be beneficial, like Tribulus. Such methods require such ingredients to be processed, dried and stored for long periods of time, peeling them of much nutritional value.
                            Quicky Advance Shots deliver ingredients in the most possible natural form and delivers the purest form of natural wellness in one delicious single serving.</p><a href="#" data-animation="animated fadeInLeft">order now</a></div>
                    <div class="w_shop_105_right_box"
                        data-animation="animated fadeInRight">
                        <ul>
                            <li data-animation="animated fadeInRight"> Daily Wellness</li>
                            <li data-animation="animated fadeInRight"> Detoxification</li>
                            <li data-animation="animated fadeInRight">Female Care</li>
                            <li data-animation="animated fadeInRight"> Men’s Care</li>
                            <li data-animation="animated fadeInRight">Targeted Nutrition</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item"><img src="https://www.darjuv9online.com/wp-content/uploads/2019/09/66036866_2157958957827771_4724295546917879808_n-300x300.jpg" alt="w_shop_105_02">
                    <div class="w_shop_105_left_box"><span data-animation="animated fadeInLeft" style="font-family: roboto;">Rs.3,499</span>
                        <h1 class="left-h" data-animation="animated fadeInLeft">Energie9 Burst Pre-Workout</h1>
                        <p data-animation="animated fadeInLeft">Power Burst is an awesome pre-workout designed for serious lifters, who are looking for pump, focus and gains! </p><a href="#" data-animation="animated fadeInLeft">order now</a></div>
                    <div class="w_shop_105_right_box"
                        data-animation="animated fadeInRight">
                        <ul>
                            <li data-animation="animated fadeInRight">Improved Muscle Endurance.</li>
                            <li data-animation="animated fadeInRight">Volume Rules Success</li>
                            <li data-animation="animated fadeInRight">Clean Energy</li>
                            <li data-animation="animated fadeInRight">Hydration Fuel</li>
                            <li data-animation="animated fadeInRight">This will enhance the results of your fat-shredding workouts.</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item"><img src="https://www.darjuv9online.com/wp-content/uploads/2019/02/products-1-600x328.jpg" alt="w_shop_105_03">
                    <div class="w_shop_105_left_box"><span data-animation="animated fadeInLeft" style="font-family: roboto;">Rs.200</span>
                        <h1 class="left-h" data-animation="animated fadeInLeft">Tea Masala</h1>
                        <p data-animation="animated fadeInLeft">So the next time you experience digestive discomfort, you can rest assured that a cup of our Tea Masala will soothe your belly and invigorate your taste buds just when you need it.</p><a href="#" data-animation="animated fadeInLeft">order now</a></div>
                    <div class="w_shop_105_right_box"
                        data-animation="animated fadeInRight">
                        <ul>
                            <li data-animation="animated fadeInRight">balance Vata-Pitta-Kapha</li>
                            <li data-animation="animated fadeInRight">herbs and spices</li>
                            <li data-animation="animated fadeInRight">medley of health and tastes</li>
                            <li data-animation="animated fadeInRight"> help ward off any possible immune system antagonists.</li>
                            <li data-animation="animated fadeInRight">Blend of Cinnamon, Cardamon, Mulethi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'homepage/featuredproducts/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'homepage/featuredproducts/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/featuredproducts/assets/js/featured-products-slider.js' %}"></script>
</body>

</html>